{% extends "base.html" %}
{% block content %}
			<section class="secabout">
			    <div class="general-conteiner">
			    	<h3 class="abouttitle">О проекте</h3>
			    	<p class="tex-aboup-page1">
			    		<b>Movietone</b> — Интернет-ресурс о визуальной культуре. Мы даем возможность авторам рассказать свои мысли о своих любимых фильмах, сериалах, играх. Даем возможность быть услышанными.<br> <br>
			    		Наша главная редакция пишет для тех, кому интересны современные виды искусства, делимся вдохновляющим опытом мастеров, исследуем тренды, знакомим с молодыми и перспективными героями. <br><br>
			    		<a href="mailto: team@movietone.com">team@movietone.com</a>
			    	</p>
			    	<p class="tex-aboup-page2">© 2020, Movietone. Интернет-ресурс о визуальном искусстве. Использование материалов Movietone разрешено только при наличии активной ссылки на источник. Все права на изображения и тексты принадлежат их авторам.</p>
			    </div>
			</section>
{% endblock %}