<footer>
    <div class="general-conteiner">
        <div class="footer_sotial-line">
            <a href="" class="footer_sotial-link">
                <img src="../static/img/fb.png" alt="">
            </a>
            <a href="" class="footer_sotial-link">
                <img src="../static/img/inst.png" alt="">
            </a>
            <a href="" class="footer_sotial-link">
                <img src="../static/img/telega.png" alt="">
            </a>
            <a href="" class="footer_sotial-link">
                <img src="../static/img/yotube.png" alt="">
            </a>
        </div>
    <nav class="footer_nav">
        <ul class="footer_list-nav">
            <li><a href="{{ url_for('about') }}">О проекте</a></li>
            <li><a href="{{ url_for('vacancy') }}">Вакансии</a></li>
            <li><a href="">Рекламодателям</a></li>
            <li><a href="">Правила</a></li>
            <li><a href="">Предложения</a></li>
        </ul>
    </nav>

    <p class="footer_autor">© Movietone </p>

    </div>

</footer>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
<script src="../static/js/scripts.js"></script>
