{% extends "base.html" %}
{% block content %}
			<section class="sec_most-recensies">
				<div class="general-conteiner">
					<h3 class="general-title">Самые просматриваемые рецензии за неделю:</h3>

					<div class="most-recensies_conteiner">
						
						<div class="most-recensies_box">
							<a class="link-recens" href="">БУТЫЛОЧНАЯ РАКЕТА</a>
							<img src="../static/img/most1.jpg" alt="">
						</div>
						<div class="most-recensies_box">
							<a class="link-recens" href="">КОМНАТА</a>
							<img src="../static/img/most2.jpg" alt="">
						</div>
						<div class="most-recensies_box">
							<a class="link-recens" href="">АКАДЕМИЯ РАШМОР</a>
							<img src="../static/img/most3.jpg" alt="">
						</div>
						<div class="most-recensies_box">
							<a class="link-recens" href="">ВЫПУСКНИК</a>
							<img src="../static/img/most4.jpg" alt="">
						</div>
						<div class="most-recensies_box">
							<a class="link-recens" href="">АРАХИСОВЫЙ СОКОЛ</a>
							<img src="../static/img/most5.jpg" alt="">
						</div>
						<div class="most-recensies_box">
							<a class="link-recens" href="">DEATH STRANDING</a>
							<img src="../static/img/most6.jpg" alt="">
						</div>
						<div class="most-recensies_box">
							<a class="link-recens" href="">В ДИКИХ УСЛОВИЯХ</a>
							<img src="../static/img/most7.jpg" alt="">
						</div>
						<div class="most-recensies_box">
							<a class="link-recens" href="">JOURNEY</a>
							<img src="../static/img/most8.jpg" alt="">
						</div>

					</div>

				</div>
			</section>

			<section class="sec_general-redaction">
				<div class="general-conteiner">
					<h3 class="general-title">Главная редакция:</h3>

					<div class="line-reads">
					    <div class="big-reads hoverReadps">

					    	<div class="postobvert">
					    		<a href="" class="name-cats">КИНО</a>
						        <a href="" class="title-reads">Смерть в диких условиях. Кто такой Александр Супербродяга и чему нас учит его история</a>
					    	</div>
						    
						    <img src="../static/img/read1-big.jpg" alt="">
					    </div>
					    <div class="reads-smal-conteiner">
					    	<div class="reads-smal_line">
					    		<div class="post-smile-read">
					    			<img src="../static/img/read-sm1.jpg" alt="">
					    			<a href="" class="titlesmalpost">10 неудачных ограблений - Лучшие криминальные комедии.</a>
					    		</div>

					    		<div class="post-smile-read">
					    			<img src="../static/img/read-sm2.jpg" alt="">
					    			<a href="" class="titlesmalpost">Хаяо Миядзаки - Как создаются шедевры?</a>
					    		</div>

					    	</div>	

					    	<div class="big-smal-post big-reads hoverReadps">
					    		<div class="postobvert">
					    		<a href="" class="name-cats">ИГРЫ</a>
						        <a href="" class="title-reads">Days Gone - Недооцененный эксклюзив Sony. </a>
					    	</div>
						    
						    <img src="../static/img/read-sm3.jpeg" alt="">
					    	</div>	
					    </div>
				    </div>

				    <div class="line-reads2">
				    	 <div class="big-reads hoverReadps">

					    	<div class="postobvert">
					    		<a href="" class="name-cats">ИГРЫ</a>
						        <a href="" class="title-reads">Интервью с "гением" игровой индустрии. Хидео Кодзима о своих планах на будущее.</a>
					    	</div>
						    
						    <img src="../static/img/read-big2.jpeg" alt="">
					    </div>
					    <div class="reads-smal-conteiner">
					    	<div class="reads-smal_line">
					    		<div class="post-smile-read">
					    			<img src="../static/img/read-sm5.jpg" alt="">
					    			<a href="" class="titlesmalpost">15 лет сериалу Офис. Ретроспектива бумажной компании "Dunder Mifflin".</a>
					    		</div>

					    		<div class="post-smile-read">
					    			<img src="../static/img/read-sm4.jpg" alt="">
					    			<a href="" class="titlesmalpost">Роберт Дауни - Младший. История становления актера.</a>
					    		</div>

					    	</div>	

					    		
					    </div>
				    </div>

				    <div class="line-greenbg-readlink">
				    	<h4 class="title-green">Цикл статей<br> Игры<br> как искусство.</h4>
				    	<a href="" class="realgrenlinkbt">ЧИТАТЬ</a>
				    </div>

				    <div class="line-reads">
					    <div class="big-reads hoverReadps">

					    	<div class="postobvert">
					    		<a href="" class="name-cats">КИНО</a>
						        <a href="" class="title-reads">Удивительные миры Уэса Андерсона или "Как правильно соблюдать законы композиции".</a>
					    	</div>

						    <img src="../static/img/read-sm6.jpg" alt="">
					    </div>
					    <div class="reads-smal-conteiner">
					    	<div class="reads-smal_line">
					    		<div class="post-smile-read">
					    			<img src="../static/img/7501.jpg" alt="">
					    			<a href="" class="titlesmalpost">Тим Бёртон. Мрачные образы в мрачных мультфильмах.</a>
					    		</div>

					    		<div class="post-smile-read">
					    			<img src="../static/img/7.jpg" alt="">
					    			<a href="" class="titlesmalpost">Платформа - главное событие 2020 в сфере авторского кино.</a>
					    		</div>

					    	</div>

					    	<div class="big-smal-post big-reads hoverReadps">
					    		<div class="postobvert">
					    		<a href="" class="name-cats">СЕРИАЛЫ</a>
						        <a href="" class="title-reads">«11.22.63» Мини-сериал, который точно стоит посмотреть.</a>
					    	</div>

						    <img src="../static/img/imgonline-com-ua-convertHFWnkvzI5GYF.jpg" alt="">
					    	</div>
					    </div>
				    </div>

				    <div class="line-reads2">
				    	 <div class="big-reads hoverReadps">

					    	<div class="postobvert">
					    		<a href="" class="name-cats">КИНО</a>
						        <a href="" class="title-reads">Комедия Вуди Алена. Разбор фильма «Любовь и смерть»</a>
					    	</div>

						    <img src="../static/img/1780862.jpg" alt="">
					    </div>
					    <div class="reads-smal-conteiner">
					    	<div class="reads-smal_line">
					    		<div class="post-smile-read">
					    			<img src="../static/img/280x178_2.jpg" alt="">
					    			<a href="" class="titlesmalpost">Джонни Депп. История становления актера</a>
					    		</div>

					    		<div class="post-smile-read">
					    			<img src="../static/img/12.jpg" alt="">
					    			<a href="" class="titlesmalpost">Капитан Фантастик - захватывающая повесть о семье, которая идет против правил</a>
					    		</div>

					    	</div>


					    </div>
				    </div>

				    <div class="line-bt-morepost">
				    	<button>Больше материалов</button>
				    </div>

				</div>
			</section>
{% endblock %}