<!DOCTYPE html>
<html>
<head>
	<title>верстка по макету</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<meta charset="utf-8">
	<meta name="viewport" content="width=divice-width, initial-scale=1.0">
	<meta name="description" content="">
	<script src="js/script.js"></script>

</head>
<body>
	<div class="content" id="app">
		<div class="burger-menus" v-bind:class="{ closeburger : isClose }">
			<div class="burger-menus_obvertka">
				<div class="box-closemenburg" v-on:click="menyClose">
					<img src="img/close-icg.png" alt="">
				</div>
				<ul class="header_list-burg">
					<li><a href="">Вход</a></li>
					<li><a href="">Главная</a></li>
					<li><a href="">Что нового</a></li>
					
				</ul>
				
				<div class="inp-search-conteiner">
					<div class="icinpserch">
						<img src="img/seargh.png" alt="">
					</div>
					<input type="text">

				</div>
			</div>
		</div>	
		<header>
			<div class="general-conteiner">
			<nav class="header_nav">
				<ul class="header_list">
					<li><a href="">MOVIETONE</a></li>
					<li><a href="">СЕРИАЛЫ</a></li>
					<li><a href="">КИНО</a></li>
					<li><a href="">ИГРЫ</a></li>
				</ul>
			</nav>
				<div class="header_burger" v-on:click="menyOpen">
					<img src="img/burger.png" alt="">
				</div>
			
			</div>
		</header>

		<main>
			<section class="secpostsWekend">
				<div class="general-conteiner">
					<h4 class="titlepostswekk">Новые статьи за неделю</h4>
					<div class="posts-week-conteiner">
						<div class="post-week-box">
							<div class="bost-week-box_obvertka">
								<div class="postweek-info">
									<h4>Смерть в диких условиях. Александр Супербродяга и чему нас учит его история</h4>
									<div class="asd">
										<a href="" class="linlpostweek">ЧИТАТЬ</a>
									</div>
									
								</div>
								<img src="img/5.jpg" alt="">
							</div>
							<p class="autoppostsweek">автор:@главред</p>
						</div>

						<div class="post-week-box">
							<div class="bost-week-box_obvertka">
								<div class="postweek-info">
									<h4>Интервью с "гением" игровой индустрии.<br> Хидео Кодзима о своих планах на будущее.</h4>
									<div class="asd">
										<a href="" class="linlpostweek">ЧИТАТЬ</a>
									</div>
								</div>
								<img src="img/read-big2.jpeg" alt="">
							</div>
							<p class="autoppostsweek">автор:@главред</p>
						</div>

						<div class="post-week-box">
							<div class="bost-week-box_obvertka">
								<div class="postweek-info">
									<h4>Роберт Дауни - Младший. История становления актера</h4>
									<div class="asd">
										<a href="" class="linlpostweek">ЧИТАТЬ</a>
									</div>
								</div>
								<img src="img/orig.jpeg" alt="">
							</div>
							<p class="autoppostsweek">автор:@главред</p>
						</div>

						<div class="post-week-box">
							<div class="bost-week-box_obvertka">
								<div class="postweek-info">
									<h4>Days Gone - Недооцененный эксклюзив Sony</h4>
									<div class="asd">
										<a href="" class="linlpostweek">ЧИТАТЬ</a>
									</div>
								</div>
								<img src="img/88.jpg" alt="">
							</div>
							<p class="autoppostsweek">автор:@главред</p>
						</div>

						

					</div>

					<div class="paginationlines">
						<div class="arcons lleft">
							<img src="img/right-arrow.png" alt="">
						</div>
						<div class="namber-linepagin">
							<div class="bxpagins">1</div>
							<div class="bxpagins">2</div>
							<div class="bxpagins">3</div>
						</div>
						<div class="arcons rright">
							<img src="img/right-arrow.png" alt="">
						</div>
					</div>
				</div>
			</section>
		</main>


		<footer>
			<div class="general-conteiner">
				<div class="footer_sotial-line">
					<a href="" class="footer_sotial-link">
						<img src="img/fb.png" alt="">
					</a>
					<a href="" class="footer_sotial-link">
						<img src="img/inst.png" alt="">
					</a>
					<a href="" class="footer_sotial-link">
						<img src="img/telega.png" alt="">
					</a>
					<a href="" class="footer_sotial-link">
						<img src="img/yotube.png" alt="">
					</a>
				</div>
			<nav class="footer_nav">
				<ul class="footer_list-nav">
					<li><a href="">О проекте</a></li>
					<li><a href="">Вакансии</a></li>
					<li><a href="">Рекламодателям</a></li>
					<li><a href="">Правила</a></li>
					<li><a href="">Предложения</a></li>
				</ul>
			</nav>

			<p class="footer_autor">© Movietone </p>

			</div>
			
		</footer>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
	<script src="js/scripts.js"></script>
</body>
</html>