{% extends "base.html" %}
{% block content %}
			<section class="secpostsWekend">
				<div class="general-conteiner">
					<h4 class="titlepostswekk">Новые статьи за неделю</h4>
					<div class="posts-week-conteiner">
						<div class="post-week-box">
							<div class="bost-week-box_obvertka">
								<div class="postweek-info">
									<h4>Смерть в диких условиях. Александр Супербродяга и чему нас учит его история</h4>
									<div class="asd">
										<a href="" class="linlpostweek">ЧИТАТЬ</a>
									</div>
									
								</div>
								<img src="../static/img/5.jpg" alt="">
							</div>
							<p class="autoppostsweek">автор:@главред</p>
						</div>

						<div class="post-week-box">
							<div class="bost-week-box_obvertka">
								<div class="postweek-info">
									<h4>Интервью с "гением" игровой индустрии.<br> Хидео Кодзима о своих планах на будущее.</h4>
									<div class="asd">
										<a href="" class="linlpostweek">ЧИТАТЬ</a>
									</div>
								</div>
								<img src="../static/img/read-big2.jpeg" alt="">
							</div>
							<p class="autoppostsweek">автор:@главред</p>
						</div>

						<div class="post-week-box">
							<div class="bost-week-box_obvertka">
								<div class="postweek-info">
									<h4>Роберт Дауни - Младший. История становления актера</h4>
									<div class="asd">
										<a href="" class="linlpostweek">ЧИТАТЬ</a>
									</div>
								</div>
								<img src="../static/img/orig.jpeg" alt="">
							</div>
							<p class="autoppostsweek">автор:@главред</p>
						</div>

						<div class="post-week-box">
							<div class="bost-week-box_obvertka">
								<div class="postweek-info">
									<h4>Days Gone - Недооцененный эксклюзив Sony</h4>
									<div class="asd">
										<a href="" class="linlpostweek">ЧИТАТЬ</a>
									</div>
								</div>
								<img src="../static/img/88.jpg" alt="">
							</div>
							<p class="autoppostsweek">автор:@главред</p>
						</div>
					</div>

					<div class="paginationlines">
						<div class="arcons lleft">
							<img src="../static/img/right-arrow.png" alt="">
						</div>
						<div class="namber-linepagin">
							<div class="bxpagins">1</div>
							<div class="bxpagins">2</div>
							<div class="bxpagins">3</div>
						</div>
						<div class="arcons rright">
							<img src="../static/img/right-arrow.png" alt="">
						</div>
					</div>
				</div>
			</section>
{% endblock %}