{% extends "base.html" %}
{% block content %}
			<section class="secpostsWekend">
				<div class="general-conteiner">
					<h4 class="titlepostswekk">Рецензии по вашим интересам:</h4>
					<div class="posts-week-conteiner">
						

						<div class="post-week-box ss23ff">
							<div class="bost-week-box_obvertka">
								<div class="postweek-info">
									<div class="obse22">
										<h4 class="titlerecens" style="color: #A71717;">Звездные войны: <br>Пробуждение силы</h4>
									<p class="texrecense">
										"По трейлеру было трудно понять, чего ждать от этого фильма. Сыграет ли он на славе предыдущих фильмов, или же будет самостоятельной единицей в битве за кошельки и сердца кинолюбителей."
									</p>
									<div class="asd">
										<a href="" style="color: #A71717; border:solid 1px #A71717 " class="linlpostweek">ЧИТАТЬ</a>
									</div>
									</div>
									
								</div>
								<img src="../static/img/pt4.jpg" alt="">
							</div>
							<p class="autoppostsweek">автор:@railway</p>
						</div>

						<div class="post-week-box ss23ff">
							<div class="bost-week-box_obvertka">
								<div class="postweek-info">
									<div class="obse22">
										<h4 class="titlerecens" style="color: #8EA45B;">1917</h4>
									<p class="texrecense">
										"Вальс не для всех. Вальсирующие выглядят плавными, неспешными, а ритм танца лишён страсти. Вместо неё грация спокойных размеренных движений. Но за любым танцем стоят репетиции, труд и тяжёлая подготовка."
									</p>
									<div class="asd">
										<a href="" style="color: #8EA45B; border:solid 1px #8EA45B " class="linlpostweek">ЧИТАТЬ</a>
									</div>
									</div>
									
								</div>
								<img src="../static/img/23.jpg" alt="">
							</div>
							<p class="autoppostsweek">автор:@railway</p>
						</div>

						<div class="post-week-box ss23ff">
							<div class="bost-week-box_obvertka">
								<div class="postweek-info">
									<div class="obse22">
										<h4 class="titlerecens" style="color: #D83B00;">Сиротский Бруклин</h4>
									<p class="texrecense">
										"Подтверждая тезис «Талантливый человек талантлив во всём», известный и любимый актёр Эдвард Нортон представил миру свою вторую режиссерскую работу — экранизацию одноименного романа Джонатана Летема «Сиротский Бруклин». Нео-нуар, провалившийся в прокате, тем не менее не может не привлечь к себе внимание."
									</p>
									<div class="asd">
										<a href="" style="color: #D83B00; border:solid 1px #D83B00 " class="linlpostweek">ЧИТАТЬ</a>
									</div>
									</div>
									
								</div>
								<img src="../static/img/3.jpg" alt="">
							</div>
							<p class="autoppostsweek">автор:@railway</p>
						</div>
					</div>

					<div class="paginationlines">
						<div class="arcons lleft">
							<img src="../static/img/right-arrow.png" alt="">
						</div>
						<div class="namber-linepagin">
							<div class="bxpagins">1</div>
							<div class="bxpagins">2</div>
							<div class="bxpagins">3</div>
						</div>
						<div class="arcons rright">
							<img src="../static/img/right-arrow.png" alt="">
						</div>
					</div>
				</div>
			</section>
{% endblock %}