{% extends "base.html" %}
{% block content %}
		<section class="secpostsWekend">
			<div class="general-conteiner">
				{% if posts %}
					<h4 class="titlepostswekk">Рецензии по вашим интересам:</h4>
					<div class="posts-week-conteiner">
						{% for post in posts %}
							<div class="post-week-box ss23ff">
								<div class="bost-week-box_obvertka">
									<div class="postweek-info">
										<div class="obse22">
											<h4 class="titlerecens" style="color: #A71717;">{{ post[0].title }}</h4>
										<p class="texrecense">
											{{ post[0].title_preview_text }}
										</p>
										<div class="asd">
											<a href="{{ url_for('post', id=post[0].id) }}" style="color: #A71717; border:solid 1px #A71717 " class="linlpostweek">ЧИТАТЬ</a>
										</div>
										</div>

									</div>
									<img src="{{ post[0].photo_preview_path }}" alt="">
								</div>
								<p class="autoppostsweek">автор:@{{ post[1].nickname }}</p>
							</div>
						{% endfor %}
					</div>
				{% else %}
				<div style="text-align: center; padding-top: 10%; padding-bottom: 10%">
					<h4 class="titlepostswekk">Рецензий пока что нет...<br><a style="color: green; " href="{{ url_for('create_post') }}"><b>Станьте первым!</b></a></h4>
				</div>
				{% endif %}
			</div>
		</section>

{% endblock %}