<!DOCTYPE html>
<html>
<head>
	<title>верстка по макету</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<meta charset="utf-8">
	<meta name="viewport" content="width=divice-width, initial-scale=1.0">
	<meta name="description" content="">
	<script src="js/script.js"></script>

</head>
<body>
	<div class="content" id="app">
		<div class="burger-menus" v-bind:class="{ closeburger : isClose }">
			<div class="burger-menus_obvertka">
				<div class="box-closemenburg" v-on:click="menyClose">
					<img src="img/close-icg.png" alt="">
				</div>
				<ul class="header_list-burg">
					<li><a href="">Вход</a></li>
					<li><a href="">Главная</a></li>
					<li><a href="">Что нового</a></li>
					
				</ul>
				
				<div class="inp-search-conteiner">
					<div class="icinpserch">
						<img src="img/seargh.png" alt="">
					</div>
					<input type="text">

				</div>
			</div>
		</div>	
		<header>
			<div class="general-conteiner">
			<nav class="header_nav">
				<ul class="header_list">
					<li><a href="">MOVIETONE</a></li>
					<li><a href="">СЕРИАЛЫ</a></li>
					<li><a href="">КИНО</a></li>
					<li><a href="">ИГРЫ</a></li>
				</ul>
			</nav>
				<div class="header_burger" v-on:click="menyOpen">
					<img src="img/burger.png" alt="">
				</div>
			
			</div>
		</header>

		<main>
			<section class="seckabs">
				<div class="sec-cabs_topline">
					<div class="linesproavatar">
			    				<div class="asdk2">
			    				<div class="conteiner-photo-image">
			    				    <img src="img/us3.png" alt="">
			    			    </div>
			    			    
			    			</div>
			    			<div class="masd23">
			    				<p class="nameuserss">@railway</p>
			    				
			    				<a href="mailto: railway@gmail.com" class="emailusers">railway@gmail.com</a>
			    				<p class="sexussers">male</p>
			    				<p class="countruusers">Россия</p>
			    			</div>
			    			</div>

			    			<div class="linekab-namber-post">
			    				<div class="namber-postbox">
			    					<h4>Просмотренных рецензий: <br>5</h4>
			    				</div>
			    				<div class="namber-postbox">
			    					<h4>Написанных рецензий:<br> 20</h4>
			    				</div>
			    			</div>	
				</div>
				<div class="linesredarlink">
					<a href="setings-user.htm">Редактировать профиль</a>
				</div>

				<div class="cont-user-recensies">
					<h3 class="titleusrecens">Последние рецензии</h3>
					<div class="line-recensiiuss">
						<a href="" class="line-recensiiuss_box">
							<div class="boxborss">
								<img src="img/333jpg.jpg" alt="">
							</div>
							
							<p>READ DEAD ONLINE</p>
						</a>

						<a href="" class="line-recensiiuss_box">
							<div class="boxborss">
								<img src="img/most2.jpg" alt="">
							</div>
							
							<p>КОМНАТА</p>
						</a>

						<a href="" class="line-recensiiuss_box">
							<div class="boxborss">
								<img src="img/most4.jpg" alt="">
							</div>
							
							<p>ВЫПУСКНИК</p>
						</a>

						<a href="" class="line-recensiiuss_box">
							<div class="boxborss">
								<img src="img/most3.jpg" alt="">
							</div>
							
							<p>АКАДЕМИЯ РАШМОР</p>
						</a>

						<a href="" class="line-recensiiuss_box">
							<div class="boxborss">
								<img src="img/most1.jpg" alt="">
							</div>
							
							<p>БУТЫЛОЧНАЯ РАКЕТА</p>
						</a>

						<a href="" class="line-recensiiuss_box">
							<div class="boxborss">
								<img src="img/most8.jpg" alt="">
							</div>
							
							<p>JOURNEY</p>
						</a>

						<a href="" class="line-recensiiuss_box">
							<div class="boxborss">
								<img src="img/most5.jpg" alt="">
							</div>
							
							<p>АРАХИСОВЫЙ СОКОЛ</p>
						</a>

						<a href="" class="line-recensiiuss_box">
							<div class="boxborss">
								<img src="img/most6.jpg" alt="">
							</div>
							
							<p>DEATH STRANDING</p>
						</a>
					</div>
				</div>
			</section>
		</main>


		<footer>
			<div class="general-conteiner">
				<div class="footer_sotial-line">
					<a href="" class="footer_sotial-link">
						<img src="img/fb.png" alt="">
					</a>
					<a href="" class="footer_sotial-link">
						<img src="img/inst.png" alt="">
					</a>
					<a href="" class="footer_sotial-link">
						<img src="img/telega.png" alt="">
					</a>
					<a href="" class="footer_sotial-link">
						<img src="img/yotube.png" alt="">
					</a>
				</div>
			<nav class="footer_nav">
				<ul class="footer_list-nav">
					<li><a href="">О проекте</a></li>
					<li><a href="">Вакансии</a></li>
					<li><a href="">Рекламодателям</a></li>
					<li><a href="">Правила</a></li>
					<li><a href="">Предложения</a></li>
				</ul>
			</nav>

			<p class="footer_autor">© Movietone </p>

			</div>
			
		</footer>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
	<script src="js/scripts.js"></script>
</body>
</html>