{% extends "base.html" %}
{% block content %}
			<section class="secvacansy">
			    <div class="box-sec-vac">
			    	<div class="box_vacasycontentbox">
			    		<div class="vasvac">
			    			<h4>Разработка</h4>

			    			<p>-Front-end Developer <br>
			    				<b>Нижневартовск</b></p>


			    			<p>-Back-end Developer<br>
			    			<b> Нижневартовск</b></p>
			    		</div>

			    		<div class="vasvac ss22cd">
			    			<h4>Контент</h4>

			    			<p>-Главный редактор <br>
			    				<b>Нижневартовск</b></p>


			    			<p>-PR-менеджер <br>
			    			<b> Нижневартовск</b></p>
			    		</div>

			    		<p class="texvacopu">© 2020, Movietone. Интернет-ресурс о визуальном искусстве. Использование материалов Movietone разрешено только при наличии активной ссылки на источник. Все права на изображения и тексты принадлежат их авторам.</p>
			    	</div>

			    	<div class="box-sec-vac_img">
			    		<img src="../static/img/bgimg.png" alt="">
			    	</div>
			    </div>
			</section>
{% endblock %}